<%= form_tag '/blogs/create' do %>
    <div class="title">
    제목:<input type="text" name="title">    
    </div>
    <div>
    <%= md_simple_editor  do %>
    내용: <%= text_area_tag "content" , nil,  cols: 40, rows: 20, class: 'form-control' %>
    <% end %>
    </div>
    <div>
    <input type="submit" value="Click!">    
    </div>
<% end %>