// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.basic_info_heading {
    color: white;
}
.pf_div {
    margin-top: 15px;
    p {
        color: black;
    }
}
.pf_date {
    font-size: 13px;
}
.pf_content {
    padding: 0px;
    text-align: left;
    font-size: 20px;
    span {
        font-size: 13px;
        color: #777;
    }
}
.pf_content_header {
    font-size: 15px !important;
}
@media (max-width: 767px) {
    .pf_date {
        padding: 15px 0px 5px 0px;
    }
    .pf_content {
        text-align: center;
    }
}
.section_heading_customize {
    text-align: left;
    margin-left: 0px;
    margin-bottom: 25px;
    margin-top: 5px;
}
.margin_zero {
    margin-left: 0px;
}
@media (max-width: 991px) {
    .section_heading_customize {
        text-align: center;
    }
    .margin_zero {
        margin-left: 15px;
        margin-right: 15px;
    }
    
}